.settings-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--white);
    padding-top: 20px;
}

.settings-cont h1 {
    font-size: 40px;
}

.settings-output-cont {
    /* background-color: aqua; */
    width: 90%;
    /* height: 100%; */
    display: flex;
    /* flex-direction:row; */
    align-items: start;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* display: grid; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.setting-box {
    /* background-color: black; */
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.setting-box h2 {
    color: var(--pink);
    font-size: 30px;
}

.radio-btns-cont {
    /* background-color: aqua; */
    text-align: left;
}

@media only screen and (max-width: 1025px) {
    .settings-output-cont {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 915px) {
    .settings-cont {
        padding-bottom: 50px;
    }
    .settings-output-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
    }

    .setting-box {
        width: 90%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .settings-cont h1 {
        font-size: 30px;
    }

    .setting-box h2 {
        color: var(--pink);
        font-size: 25px;
    }
}

