.flashcards-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe;
    color: var(--white);
    overflow-y: auto;
    padding-top: 20px;
}

.flashcards-cont h1 {
    font-size: 40px;
}

.card-cont {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 60px;
}

.flashcardOutput-cont {
    /* background-color: aqua; */
    width: 100%;
    height: 60%;
    display: flex;
    /* flex-direction:row; */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap; */
    /* display: grid; */
    /* margin-top: 50px; */
}

.actual-card-cont {
    /* background-color: yellow; */
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard {
    /* background-color: azure; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* font-size: 16px; */
    padding: 20px;
    cursor: pointer;
    /* z-index: -100; */
    color: black;
}

.text-to-speech-btns {
    /* background-color: cadetblue; */
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    /* background-color: aquamarine; */
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.buttons-cont {
    /* background-color: aquamarine; */
    width: 45%;
    /* height: 20%; */
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flashcard-actions {
    /* background-color: darkmagenta; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.flashcard-actions h3, p {
    margin: 0;
}

.flashcard-icon {
    font-size: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--pink);
}

#thumbs-up {
    color: rgb(66, 235, 66);
}

#thumbs-down {
    color: red;
}

.flashcard-type {
    /* background-color: yellow; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 1;   */
}

.flashcard-content {
    /* background-color: green; */
    width: 100%;
    height: 75%;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.final-score-cont {
    /* background-color: aqua; */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.score-cont {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; */
    /* margin-bottom: 40px; */
}

.score-page-btns {
    /* background-color: aqua; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#accessibility-icon {
    color: rgb(82, 82, 82);
}

#accessibility-icon:hover {
    color: var(--bg);
}

#accessibility-icon.active {
    color: black;
    scale: 1.1;
}

#cancel-sect {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
}


@media only screen and (max-width: 1025px) {
    .card-cont {
        height: 70%;
        margin-top: 60px;
    }

    .actual-card-cont {
        width: 60%;
    }

    .final-score-cont {
        margin-top: 50px;
    }

    .score-cont {
        margin-top: 0px;
    }

    .score-page-btns {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 915px) {
    .flashcardOutput-cont {
        height: 300px;
    }

    .flashcards-cont {
        padding-bottom: 150px;
    }

    .actual-card-cont {
        width: 75%;
    }

    .card-cont {
        height: 90%;
        margin-top: 60px;
    }

    .buttons-cont {
        width: 60%;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 450px) {
    .flashcards-cont {
        padding-bottom: 0;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0;
    }

    .flashcard-content {
        /* background-color: lightgreen; */
        margin-top: 20px;
        /* margin-bottom: 25px; */
        padding: 5px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .flashcard-content p {
        padding: 5px;
        padding-bottom: 30px;
    }

    .text-to-speech-btns {
        /* background-color: cadetblue; */
        height: 10%;
        width: 70%;
        padding-top: 10px;
        margin-top: 10px;
    }

    .flashcardOutput-cont {
        width: 100%;
        height: 200px;
        /* height: 80%; */
    }

    .actual-card-cont {
        width: 100%;
        /* height: 100%; */
    }

    .buttons-cont {
        width: 100%;
    }

    .card-cont {
        /* height: 100%; */
        margin-top: 20px;
    }

    .flashcard {
        padding-top: 0;
    }

    .final-score-cont {
        width: 100%;
        text-align: center;
    }

    .flashcard-icon {
        font-size: 40px;
    }

    .score-page-btns {
        width: 100%;
    }
    
    .flashcard-type {
        margin-top: 10px;  
    }

    .flashcards-cont h1 {
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 290px) {
    .flashcards-cont {
        text-align: center;
    }
}
