.flashcards-cont {
    /* background-color: antiquewhite; */
    border: 3px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe;
    color: var(--white);
    /* margin-top: 5rem; */
    overflow-y: auto;
    margin-top: 20px;
}

.card-cont {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 70px;
}

.flashcardOutput-cont {
    /* background-color: aqua; */
    width: 100%;
    height: 50%;
    display: flex;
    /* flex-direction:row; */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap; */
    /* display: grid; */
    /* margin-top: 50px; */
}

.actual-card-cont {
    /* background-color: yellow; */
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg);
}

.flashcard {
    /* background-color: azure; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

.buttons-cont {
    /* background-color: aquamarine; */
    width: 45%;
    /* height: 20%; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flashcard-actions {
    /* background-color: darkmagenta; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.flashcard-actions h3, p {
    margin: 0;
}

.flashcard-icon {
    font-size: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--pink);
}

#thumbs-up {
    color: rgb(66, 235, 66);
}

#thumbs-down {
    color: red;
}

/* #finish {
    color: white;
} */

.flashcard-type {
    /* background-color: yellow; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.flashcard-content {
    /* background-color: green; */
    width: 100%;
    height: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.flashcard-content p {
    /* background-color: aqua; */
    margin-top: 80px;
}

.final-score-cont {
    /* background-color: aqua; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.final-score-cont img {
    height: 30px;
    margin-top: 50px;
}

.score-cont {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    /* margin-bottom: 40px; */
}

.score-page-btns {
    /* background-color: aqua; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
