.scores-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe;
    color: var(--white);
    overflow-y: auto;
    padding-top: 20px;
}

.scoresOutput-cont {
    /* background-color: aqua; */
    width: 90%;
    /* height: 100%; */
    display: flex;
    /* flex-direction:row; */
    align-items: start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* display: grid; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.scorecard {
    width: 200px;
    /* height: 260px; */
    background-color: var(--pink);
    margin: 20px;
    margin-bottom: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 2px;
    padding: 15px;
    padding-bottom: 30px;
}

.scorecard p, h2 {
    padding-bottom: 10px;
}

.no-scores {
    width: 80%;
    text-align: center;
}

.no-scores h3 {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1025px) {
    .scores-cont {
        padding-bottom: 150px;
    }
}


