.scores-cont {
    /* border: 3px solid red; */
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--white);
    overflow-y: auto;
    padding-top: 20px;
    /* padding-bottom: 500px; */
    /* margin-bottom: 80px; */
}

.scoresOutput-cont {
    /* background-color: aqua; */
    width: 90%;
    /* height: 100%; */
    display: flex;
    /* flex-direction:row; */
    align-items: start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* display: grid; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.scorecard {
    width: 200px;
    /* height: 260px; */
    background-color: var(--pink);
    margin: 20px;
    margin-bottom: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 2px;
    padding: 15px;
    padding-bottom: 30px;
}

.scorecard p, h2 {
    padding-bottom: 10px;
}
