.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-cont {
    background-color: var(--bg);
    margin: 0;
    width: 20%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-right: 1px solid var(--white);
}

#logo {
    margin-left: 50px;
}

#logo img {
    width: 80%;
}

#links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 60%;
    margin-top: 50px;
}

.navlink {
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
}

#login-btn-navbar {
    margin-left: 50px;
    margin-top: 80px;
    width: 60%;
    text-align: center;
}

#login-btn-text {
    color: var(--bg);
    font-size: 15px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .navlink {
        font-size: 15px;
    }
    
    #login-btn-text {
        font-size: 15px;
    }
}
