.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#navbar-cont {
    background-color: var(--bg);
    width: 20%;
    height: 85vh;
}

.large-screen-menu {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-right: 1px solid var(--white);
}

#logo {
    margin-left: 20px;
    cursor: pointer;
}

#logo img {
    width: 100%;
}

#links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 60%;
    margin-top: 80px;
}

.navlink {
    color: var(--white);
    text-decoration: none;
    /* font-size: 15px; */
}

#login-btn-navbar {
    margin-left: 50px;
    margin-top: 100px;
    width: 60%;
    text-align: center;
}

#login-btn-text {
    color: var(--bg);
    /* font-size: 16px; */
    text-decoration: none;
}

#logout-link {
    color: var(--white);
    /* text-decoration: underline; */
}

.menu-links, .phone-menu-icon, .small-screen-menu {
    display: none;
}

#logout-thing {
    width: 100vw;
    background-color: aqua;
    position:absolute;
    top: 0;
    /* left: 500px; */
}


@media only screen and (max-width: 1025px) {
    #navbar-cont {
        width: 25%;
    }
    #links {
        margin-left: 40px;
    }

    #logo {
        margin-left: 10px;
    }

    #login-btn-navbar {
        margin-left: 40px;
    }

}

@media only screen and (max-width: 915px) {
    .page {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #navbar-cont {
        background-color: var(--bg);
        /* border: 1px solid red; */
        padding-top: 15px;
        /* background-color: antiquewhite; */
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 10;
        /* margin-bottom: 20px; */
    }

    .small-screen-menu {
        /* background-color: aqua; */
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo, #login-btn-navbar, .phone-menu-icon {
        width: 30%;
        /* background-color: bisque; */
        margin: 0;
        height: 100%;
    }

    .phone-menu-icon {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #login-btn-navbar {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logo img {
        width: 70%;
    }

    .large-screen-menu{
        display: none;
    }

    #small-menu-icon {
        color: var(--pink);
        font-size: 30px; 
        z-index: 5;
    }

    #login-btn-text {
        color: var(--pink);
        /* font-size: 16px; */
        text-decoration: none;
    }

    .menu-links {
        display: none;
    }

    .menu-links.active {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 30vw;
        align-items: start;
        justify-content: start;
        background-color: var(--bg);
        z-index: 1;
        padding-top: 15vh;
        border-right: 3px solid var(--pink);
        border-radius: 0 2px 2px 0;
    }

    #links {
        height: 50%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .page {
        height: auto;
        padding-bottom: 100px;
    }

    #navbar-cont {
        height: 10vh;
    }

    #small-menu-icon {
        font-size: 25px; 
    }

    .menu-links.active {
        width: 60%;
    }

    #logo img {
        width: 100%;
    }

}
