.subjects-cont {
    /* background-color: antiquewhite; */
    /* border: 3px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--white);
    /* margin-top: 5rem; */
    overflow-y: auto;
    /* margin-top: 20px; */
    padding-top: 20px;
}

.subjects-cont h1 {
    font-size: 40px;
}

.search {
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 30px;
}

#search-input {
    margin-top: 0;
}

#search-btn {
    /* min-height: 34px; */
    margin-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#clear-btn {
    /* height: 34px; */
    margin-left: 5px;
    /* width: 34px; */
    padding: 5.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subjectsOutput-cont {
    width: 90%;
    /* height: 100%; */
    display: flex;
    /* flex-direction:row; */
    align-items: start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* display: grid; */
    margin-top: 50px;
}

.subject-card {
    list-style: none;
    width: 220px;
    height: 120px;
    /* background-color: var(--light-yellow); */
    margin: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    padding: 15px;
}

#add-subject-btn {
    position: absolute;
    right: 5vw;
    top: 90vh;
    min-height: 50px;
    min-width: 50px;
    padding: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-btn {
    position: absolute;
    right: 5vw;
    top: 80vh;
    min-height: 50px;
    min-width: 50px;
    padding: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-bg {
    position: absolute;
    background-color: rgb(239, 255, 208, 0.3);
    /* background-color: rgb(214, 255, 137, 0.3); */
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: var(--bg);
    /* height: 30%; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--white);
    border: 3px solid var(--pink);
    border-radius: 2px;
}

.overlay h2 {
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    /* background-color: aquamarine; */
}

#cancel-sect {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
}

#subject-input {
    margin-top: 0;
    /* background-color: green; */
    margin-bottom: 40px;
    /* margin-left: 5px; */
}

#add-btn {
    /* min-height: 34px; */
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 5px;
    margin-bottom: 40px;
}

#cancel-btn {
    height: 32px;
    margin-right: 25px;
    width: 32px;
    /* background-color: red; */
    background-color: transparent;
    color: var(--white);
}

.not-logged-in-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
}

#column-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#delete-btn {
    /* background-color: transparent; */
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 15px 15px 10px 30px;
}


@media only screen and (max-width: 1025px) {
    .subjects-cont {
        padding-top: 20px;
        padding-bottom: 150px;
    }    

    #add-subject-btn {
        right: 7vw;
        top: 90vh;
    }

    #list-btn {
        right: 7vw;
        top: 75vh;
    }

    .overlay{
        width: 60%;
    }
}

@media only screen and (max-width: 915px) {
    .not-logged-in-cont {
        padding-bottom: 50px;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #add-subject-btn {
        position: fixed;
        right: 7vw;
        top: 75vh;
    }

    #list-btn {
        position: fixed;
        right: 7vw;
        top: 67vh;
    }

    .overlay-bg {
        position: fixed;
        top: 0; 
        left: 0;
        height: 100%;
    }
}

@media only screen and (max-width: 450px) {

    .subjects-cont {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
        padding-top: 0;
    }

    .subjects-cont h1 {
        font-size: 30px;
    }

    #add-subject-btn {
        position: fixed;
        right: 20vw;
        top: 79vh;
        height: 35px;
        width: 35px;
        /* background-color: aqua; */
        padding: 0;
    }

    #list-btn {
        position: fixed;
        right: 7vw;
        top: 79vh;
        height: 35px;
        width: 35px;
        /* background-color: aqua; */
        padding: 0;
    }

    #add-btn {
        margin-bottom: 60px;
    }

    .overlay-bg {
        position: fixed;
    }

    .overlay {
        width: 80%;
    }

    #subject-input {
        width: 200px;
    }

    .not-logged-in-cont {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #plus-icon, #cross-icon {
        font-size: 30px;
        margin: 0;
    }

    #cancel-btn {
        height: 32px;
        margin-right: 30px;
        margin-top: 10px;
        width: 32px;
        background-color: transparent;
        color: var(--white);
    }

    #search-btn, #add-btn {
        /* min-height: 34px; */
        margin-left: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
