.subjects-cont {
    /* background-color: antiquewhite; */
    /* border: 3px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--white);
    /* margin-top: 5rem; */
    overflow-y: auto;
    /* margin-top: 20px; */
    padding-top: 20px;
}


.search {
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 30px;
}

#search-input {
    margin-top: 0;
}

#search-btn {
    height: 34px;
    margin-left: 5px;
}

#clear-btn {
    height: 34px;
    margin-left: 5px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subjectsOutput-cont {
    width: 90%;
    /* height: 100%; */
    display: flex;
    /* flex-direction:row; */
    align-items: start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* display: grid; */
    margin-top: 50px;
}

.subject-card {
    list-style: none;
    width: 220px;
    height: 120px;
    /* background-color: var(--light-yellow); */
    margin: 20px;
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}

#add-subject-btn {
    position: absolute;
    right: 5vw;
    top: 90vh;
    height: 50px;
    width: 50px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 30px; */
    /* padding: 0; */
    /* z-index: 1; */
}

.overlay-bg {
    position: absolute;
    background-color: rgb(34, 36, 46, 0.8);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: var(--white);
    /* height: 30%; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--bg);
}

.overlay h2 {
    margin-bottom: 20px;
    /* background-color: aquamarine; */
}

#cancel-sect {
    /* background-color: aqua; */
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
}

#subject-input {
    margin-top: 0;
    /* background-color: green; */
    margin-bottom: 40px;
    margin-left: 5px;
}

#add-btn {
    height: 34px;
    margin-left: 5px;
    margin-bottom: 40px;
}

#cancel-btn {
    height: 32px;
    margin-left: 5px;
    width: 32px;
    background-color: transparent;
}

.not-logged-in-cont {
    /* background-color: aqua;   */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
}
