/* @import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg: #22242e;
    --pink: #d6ff89;
    --white: #ffffff; 
    --light-yellow: #efffd0; 
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #d6ff89; */
}

.button {
    background-color: var(--pink);
    width: 130px;
    height: 50px;
    color: var(--bg);
    border: none;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

.hyperlink {
    font-size: 16px;
    color: var(--white);
    /* margin-top: 50px; */
}

.page-layout {
    /* background-color: aquamarine; */
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.input-field {
    margin-top: 40px;
    width: 90%;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid var(--pink);
    border-radius: 2px;
}

.input-field:focus {
    outline: 3px solid var(--pink);
}

.bg-image {
    position: absolute;
    height: 30%;
    top: 4vh;
    right: 4vw;
    transform: rotate(15deg);
    z-index: -1;
    opacity: 0.2;
}

.highlight {
    color: var(--pink);
}

.icon {
    font-size: 25px;
}

@media only screen and (max-width: 1025px) {
    .page-layout {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* overflow-y: auto; */
    }
}

@media only screen and (max-width: 915px) {
    .page-layout {
        /* background-color: darkblue; */
        height: 100%;
        width: 100%;
        /* margin-top: 15vh; */
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* overflow-y: auto;
        overflow-x: hidden; */
    }

    .bg-image {
        position: absolute;
        height: 10%;
        top: 17vh;
        right: 10vw;
        transform: rotate(15deg);
        z-index: -1;
        opacity: 0.2;
    }
}

@media only screen and (max-width: 450px) {
    .bg-image {
        opacity: 0;
    }
}
